//
//  EditCallinfoModel.swift
//  SAN ZEN
//
//  Created by Hassan
//
//  Copyright © 2024 san eforce. All rights reserved. 16/05/24.
//

// MARK:  ---------- Keys and Identifiers ----------------
USER_APP_NAME        =
USER_BUNDLE_ID       =
GOOGLE_MAP_KEY       =
GOOGLE_PLACES_KEY    =

// MARK:  ---------- Application Version and App URL ----------------
USER_VERSION         = 1.0
USER_BUILD           = 1.0
APP_URL              = 

// MARK:  ---------- Social Login Credentials ----------------
FBID                 = Enter your key
GOOGLESIGNIN_KEY     = Enter your key
REVERSEDCLIENT_ID    = Enter your key
GOOGLE_APP_ID        = Enter your key
GOOGLE_CLIENT_ID     = Enter your key
