<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App name</key>
	<string>SAN ZEN</string>
	<key>GMSServicesAPIKey</key>
	<string>AIzaSyCWeKbT2OcoH82bQJQJKqrHZ_MyLGijWM4</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Satoshi-Black.otf</string>
		<string>Satoshi-Blackitalic.otf</string>
		<string>Satoshi-Bold..otf</string>
		<string>Satoshi-Bolditalic..otf</string>
		<string>Satoshi-Italic..otf</string>
		<string>Satoshi-Light..otf</string>
		<string>Satoshi-LightItalic..otf</string>
		<string>Satoshi-Medium..otf</string>
		<string>Satoshi-Regular..otf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
